.SchoolList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  .School {
    background-color:beige;
    width: 35%;
    text-align: left;
    margin: 4px 0;
    padding: 8px;
    color:  rgb(6, 4, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid brown;
    border-radius: 12%;
    margin: 2%;
  }
  
  .Message {
    margin: auto;
  }

  .SchoolName {
    color:  rgb(6, 4, 0);
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: max-content;
    padding: 10px;
    background-color: burlywood;
  }
  
  .SchoolActions {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
    
  .UpdateButton {
    padding-left: 12px;
    text-align: right;
    color: dodgerblue;
    font-weight: bold;
    cursor: pointer;
    
  }
  
  .DeleteButton {
    padding-right: 12px;
    text-align: right;
    color: red;
    font-weight: bold;
    cursor: pointer;
    
  }
  