.NavBar {
  background-color: beige;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid brown;
  opacity: 0.8;
  margin: 2%;
  border-radius: 12%;
}

.active {
  color: black;
  font-weight: bold;
  background-color: burlywood;
  padding: 5px;
  margin-right: 20px;
}

.inactive {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  margin-right: 20px;
}